
Host api.twist.tu-berlin.de
    User                    proxyuser
    HostName                api.twist.tu-berlin.de
    Port                    2222
    ProxyCommand            none
    BatchMode               yes
    PasswordAuthentication  no
    IdentityFile            /home/segata/.ssh/twist.cert
    StrictHostKeyChecking   no

Host tplink*
    User                    root
    StrictHostKeyChecking   no

Host tplink* nuc*
    ProxyCommand            ssh -p 2222 proxyuser@api.twist.tu-berlin.de -W %h:%p
    User                    segata
#    ControlMaster           auto
#    ControlPath             ~/.ssh/twist-%r@%h:%p
    ControlPersist          8h
    ServerAliveInterval     60
    TCPKeepAlive            yes
    compression             no
    ciphers                 arcfour,blowfish-cbc,aes128-ctr
    StrictHostKeyChecking   no
    IdentityFile            /home/segata/.ssh/twist.cert

